<div class="globalContainer">

  <div class="divHeader">
    <h1 class="title">Salary and Tax Calculator</h1>
    <span class="subTitle">Canada | Ontario | 2018 Tables</span>
    <button class="addButton"><img src="../assets/addIcon.png"> Add to Compare</button>
  </div>
  <div class="childContainer">
    <div class="boxContainerWhite">
      <div class="incomeBox first">
        <h3 class="mdTitle">TYPE YEARLY INCOME</h3>
        <p class="blackNumber">65,000</p>
      </div>
      <div class="incomeBox">
        <h3 class="mdTitle">WHERE DO YOU WORK?</h3>
        <p class="blackNumber">Ontario, CA</p>
      </div>
    </div>
    <div class="boxContainerGrey">
      <h3 class="mdTitleBlack">DEDUCTIONS</h3>
      <div class="divDeductionsTable">
        <table class="deductionsTable">
          <tr>
            <td class="deductionsTableTitle">SALARY</td>
            <td class="deductionsTableValue">52 000,00 CAD</td>
          </tr>
          <tr>
            <td class="deductionsTableTitle">CPP</td>
            <td class="deductionsTableValue">-2 400,72 CAD</td>
          </tr>
          <tr>
            <td class="deductionsTableTitle">EI</td>
            <td class="deductionsTableValue">-930,60 CAD</td>
          </tr>
          <tr>
            <td class="deductionsTableTitle">FEDERAL TAX</td>
            <td class="deductionsTableValue">-5 940,32 CAD</td>
          </tr>
          <tr>
            <td class="deductionsTableTitle">PROVINCIAL TAX</td>
            <td class="deductionsTableValue">-3 013,64 CAD</td>
          </tr>
        </table>
      </div>
      <table class="totalDeductionsTable">
        <tr>
          <td class="totalDeductionsTitle">TOTAL TAX</td>
          <td class="totalDeductionsValue">- 12 285,28 CAD</td>
        </tr>
        <tr>
          <td class="totalDeductionsTitleBold">NET PAY</td>
          <td class="totalDeductionsValue">*39 714,72 CAD</td>
        </tr>
      </table>
    </div>
    <div class="boxContainerWhite">
      <h3 class="mdTitleBlack">CHART</h3>
    </div>
  </div>
  <div class="divSubHeader">
    <h1 class="title">Compare Locations</h1>
    <nav class="subTitle">
      <ul>
        <li><a href="#">LOW TAXES</a></li>
        <li><a href="#">LIFE STANDART</a></li>
        <li><a href="#">OTHER</a></li>
      </ul>
    </nav>
  </div>
  <div class="childContainer2">
    <div class="FloatboxContainerWhite">
      <div class="comparationIncomeBox">
        <div class="comparationIncomeBoxLeft">
          <h6 class="mdTitle">TYPE YEARLY INCOME</h6>
          <p class="blackNumber">120,000</p>
        </div>
        <div class="comparationIncomeBoxRight">
          <h6 class="mdTitle">WHERE DO YOU WORK?</h6>
          <p class="blackNumber">Berlin, DE</p>
        </div>
      </div>
      <div class="comparationIncomeChart">
        <h6 class="mdTitle">NET PAY</h6>
        <p class="blackNumber">102,850 EUR</p>
      </div>
    </div>
    <div class="FloatboxContainerBlack">
      <!--<span class="closeIcon">x</span>-->
      <h3 class="mdTitleBlack">DEDUCTIONS</h3>
      <div class="divDeductionsTable">
        <table class="deductionsTable">
          <tr>
            <td class="deductionsTableTitle">SALARY</td>
            <td class="deductionsTableValue">52 000,00 CAD</td>
          </tr>
          <tr>
            <td class="deductionsTableTitle">CPP</td>
            <td class="deductionsTableValue">-2 400,72 CAD</td>
          </tr>
          <tr>
            <td class="deductionsTableTitle">EI</td>
            <td class="deductionsTableValue">-930,60 CAD</td>
          </tr>
          <tr>
            <td class="deductionsTableTitle">FEDERAL TAX</td>
            <td class="deductionsTableValue">-5 940,32 CAD</td>
          </tr>
          <tr>
            <td class="deductionsTableTitle">PROVINCIAL TAX</td>
            <td class="deductionsTableValue">-3 013,64 CAD</td>
          </tr>
        </table>
      </div>
      <table class="totalDeductionsTable">
        <tr>
          <td class="totalDeductionsTitle">TOTAL TAX</td>
          <td class="totalDeductionsValue">- 12 285,28 CAD</td>
        </tr>
        <tr>
          <td class="totalDeductionsTitleBold">NET PAY</td>
          <td class="totalDeductionsValue">*39 714,72 CAD</td>
        </tr>
      </table>
    </div>
    <div class="FloatboxContainerWhite">
        <div class="comparationIncomeBox">
          <div class="comparationIncomeBoxLeft">
            <h6 class="mdTitle">TYPE YEARLY INCOME</h6>
            <p class="blackNumber">80,000</p>
          </div>
          <div class="comparationIncomeBoxRight">
            <h6 class="mdTitle">WHERE DO YOU WORK?</h6>
            <p class="blackNumber">Paris, FR</p>
          </div>
        </div>
        <div class="comparationIncomeChart">
          <h6 class="mdTitle">NET PAY</h6>
          <p class="blackNumber">69,950 EUR</p>
        </div>
      </div>
  </div>
</div>